@import "sticky-footer.scss";
@import "variable.scss";
@import "mixins.scss";
@import "media.scss";
//@import"normaliza.scss";
//this is main page
body:before {
    white-space: pre;
    font-family: monospace;
}
html {
    background-color: #ddd4bc;
    opacity: 1;
}
.masthead {
    text-align: center;
}
.masthead h2 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
//This is for svg image
.iconic {
    display: block;
    margin-left: 33%;
    margin-top: 13%;
}
//This is 4 paragraph 
.col-4 {
    @include col-4;
}
.col-4 {
    opacity: 0.5;
    color: white;
}
.col-4:hover {
    opacity: 1;
    color: black;
}
.col-4 p {
    font-family: 'Pacifico', cursive;
}
.col-4 h4 {
    font-family: 'Pacifico', cursive;
    background-color: #393939;
    opacity: 0.5;
    color: white;
}
.row {
    background-color: #393939;
    float: left;
    position: relative;
    width: 100%;
    //    display: flex;

}
//This is button css
.animate {
    -webkit-transition: all 0.1s;
    @include animate;
}
.action-button {
    position: relative;
    padding: 5px 15px;
    margin: 0px 3px 6px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 70%;
    color: #FFF;
    text-decoration: none;
}
.btn {
    @include btn;
}
.action-button:hover {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}
//this is animation image
//this css is for 3 image
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-3 {
    @include col-3;
}
.content {
    @include content;
}
.content:hover {
    opacity: 1;
}
.content:after,
.content:before {
    border: 1px solid rgba(32, 32, 32, 0.7);
    bottom: 1em;
    content: '';
    left: 1em;
    opacity: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.6s 0.2s;
    transition: 0.6s 0.2s;
}
.content:before {
    border-bottom: none;
    border-top: none;
    left: 2em;
    right: 2em;
}
.content:after {
    border-left: none;
    border-right: none;
    bottom: 2em;
    top: 2em;
}
.content:hover:after,
.content:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.content h2 {
    margin-top: 0;
}
.content p {
    margin-bottom: 1.5em;
}
.col-3:nth-child(2) .content {
    background: rgba(209, 197, 183, 0.7);
}
.col-3:nth-child(3) .content {
    background: rgba(232, 209, 164, 0.7);
}